@media only screen and (max-width: 375px) {
  /* Styles for Mobile resolutions */
  #main-wrapper {
    position: relative;
    margin: 0 auto;
    padding: var(--p);
    width: 100%; /* Full width */
    max-width: clamp(20rem, 9.2272rem + 53.864vw, 49.625rem); /* A4 clamp for desktop */
    aspect-ratio: 9 / 16;
  }
}

/* Variables */
:root {
  --h1: clamp(2.5rem, 1.75rem + 3vw, 4rem);
  --h2: clamp(2rem, 1.25rem + 3vw, 3.5rem);
  --h3: clamp(1.75rem, 1.125rem + 2.5vw, 3rem);
  --h4: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  --h5: clamp(1.25rem, 0.875rem + 1.5vw, 2rem);
  --h6: clamp(1rem, 0.75rem + 1vw, 1.5rem);
  --body: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
  --p: clamp(0.75rem, 0.7046rem + 0.227vw, 0.875rem);
}

/* Base styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #282828;
  min-height: 100vh;
}

#main-wrapper {
  position: relative;
  margin: 0 auto;
  padding: clamp(1rem, -0.0454rem + 5.227vw, 3.875rem);
  width: 100%; /* Full width */
  max-width: clamp(20rem, 9.2272rem + 53.864vw, 49.625rem); /* A4 clamp for desktop */
  aspect-ratio: 210 / 297; Maintain A4 ratio
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, rgba(194,230,253), rgba(255,0,0,0)),
  linear-gradient(135deg, rgba(246,197,218), rgba(0,255,0,0)),
  linear-gradient(225deg, rgba(248,241,223), rgba(0,255,0,0)),
  linear-gradient(315deg, rgba(190,250,253), rgba(0,0,255,0));
}

#top-section {
  display: flex;
  justify-content: space-between;
}

#name {
  width: clamp(15rem, 1.1364rem + 31.818vw, 25rem);
}

#main-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--h4);
}

.spacer-l {
  height: var(--h1);
}

.spacer-m {
  height: var(--h4);
}

.spacer-s {
  height: var(--h6);
}

/* List styling */
ul {
  list-style-type: none;
}

.list__item {
  padding-left: var(--h5);
}

.list__item--underline {
  text-decoration: underline black 1px;
}

li .date__position--right {
  float: inline-end;
  color: #484848;
  font-size: var(--p);
  line-height: var(--h5);
}

/* Link styling */

a {
  text-decoration: none;
  color: #000;
}

/* Font Sizing */
h1 {font-size: clamp(2.5rem, 1.75rem + 3vw, 4rem);
font-weight: 900;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 40px to 64px */

h2 {font-size: clamp(2rem, 1.25rem + 3vw, 3.5rem);
font-weight: 800;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 32px to 56px */

h3 {font-size: clamp(1.75rem, 1.125rem + 2.5vw, 3rem);
font-weight: 700;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 28px to 48px */

h4 {font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
font-weight: 500;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 24px to 40px */

h5 {font-size: clamp(1.25rem, 0.875rem + 1.5vw, 2rem);
font-weight: 500;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 20px to 32px */

h6 {font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
font-weight: 500;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 16px to 28px */

body {font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
font-weight: normal;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);} /* 16px to 20px */

p {font-size: clamp(0.75rem, 0.7046rem + 0.227vw, 0.875rem);
font-weight: normal;
margin-bottom: clamp(0.178125rem, 0.00032rem + 0.889vw, 0.666875rem);}/* 16px to 20px */