/* Base styles*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  text-align: center;
  font-size: 32px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 32px;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #141414;
  color: #fff;
  background: linear-gradient(75deg, #1c1e23 5%, #7e4714 25%, #b36900 25%, #c47800 25%);
  width: 80%;
  margin: 0 auto;
  max-width: 900px; /* Ja ekrāns ir ļoti plats, tad maximālais satura platums būs šāds */
  
}
.top-wide-container{
  width: 80%;
  margin: auto; /* margin shorthand for centering elements */
  background-color: burlywood;
  padding: 20px;
}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1, p{
  text-align: center;
}
h1{
  font-family: audiowide, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Ja Audiowide nerādīs, tad fallback būs tie fonti, kas aiz komata. */
  padding-top: 50px;
  margin-bottom: 25px;
}
.table1{
  display: flex;
  flex-direction: column;
  padding: 35px;
  /* text-align: center; */
  justify-content: center;
}
/* border: width style color; is a shorthand border style */