body{
    background-image: linear-gradient(#1c1e23, #7e4714, #b36900, #c47800);
  }
  hr{
    border-top: 5px dotted #023B5A;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 3%;
  }
